{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <h1 class="text-center">Add Record</h1>

            <form method="POST" action="{% url 'add_record' %}">
                {% csrf_token %}

                <div class="form-group">
                    <label for="{{ form.name.id_for_label }}">Full Name:</label>
                    {{ form.name }}
                </div>

                <div class="form-group">
                    <label for="{{ form.designation.id_for_label }}">Designation:</label>
                    {{ form.designation }}
                </div>

                <div class="form-group">
                    <label for="{{ form.phone_number.id_for_label }}">Phone Number:</label>
                    {{ form.phone_number }}
                </div>

                <div class="form-group">
                    <label for="{{ form.salary.id_for_label }}">Salary:</label>
                    {{ form.salary }}
                </div>

                <div class="form-group">
                    <label for="{{ form.address.id_for_label }}">Address:</label>
                    {{ form.address }}
                </div>

                <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">Description:</label>
                    {{ form.description }}
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-secondary">Add Record</button>
                    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
